/* add CSS class and element and selectors here */

p {color:blue;}

.example{
  color:greens;
  font-size :20px;
  background:red;
}

body {
     
      background-color: light_gray;
      font-size: 150%;
      
    }
    
    .myClass {
      background-color: gray;
      color: blue
    }
    
  h3 {font-size:300%;}
  
  div {
    
  }
    
    
    
    
    text-align 
    
    